* {
  box-sizing: border-box; 
}

.EmojiPickerReact{
  --epr-emoji-size: 1vw;
  --epr-search-input-height: 20px;
  --epr-category-navigation-button-size: 10px;
  --epr-preview-height: 20px;
  --epr-emoji-size: 20px;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color:rgb(255, 255, 255)
}

nav {
  background-color: #f1f1f1;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  left: 0;
  right: 0;
  width: 100%;
}

.content-as{
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  font-size: 0.9rem;
  flex-shrink: 1;
  max-width: 600px;
}

.comment-section {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  flex-direction: column;
  align-items: center;
}

.post-button{
  display: flex;
  flex-direction: row;
  width: 98%;
  margin-top: 3px;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  text-align: center; /* Centers the text inside the div */
  font-family: Arial, sans-serif; /* Example font family, replace with your desired font */
  font-size: 16px; /* Example font size, adjust as needed */
  padding: 10px; /* Example padding, adjust as needed */
  border-radius: 10px; /* Example border radius, adjust as needed */
  box-shadow: 0 2px 4px rgba(194, 194, 194, 0.1); 
}

.area-text{
  width: 100%;
  height: 10vh;
  background-color: #dddddd;
  border: none;
  padding: 10px;
  color: black;
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area-text::placeholder{
  color: black;
  opacity: 1;
}

.own-message {
  color: green;
  right: 0;
}
.pepe{
  list-style-type: none;
}
.chat-sidebar {
  position: sticky;
  top: 15vh;
  margin-right: 2vw;
  float: right;
  width: 20vw;
  max-height: 78vh;
  overflow: auto;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 8px black;
  margin-top: 5vh;
}
.exit-but{
  position: absolute;
  top: 0px;
  right: 0px;
}

/* Add media query for smaller screens */

.chatbox-img {
  width: 20px;
  height: 20px;
}

.chatbox {
  position: fixed;
  bottom:0;
  right: 23vw;
  width: 200px; 
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999; 
  box-shadow: 0 0 8px black;
  
}

.notification-list {
  position: fixed;
  top: 80px;
  left: 1vw;
  width: 400px; 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999; 
}

.chat-title {
  border: 1px solid black;
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-history {
  border: 1px solid black;
  height: 200px; 
  overflow: auto;
}

.message-box {
  border: 1px solid black;
  height: 50px; 
}

/* .chatbox {
  position: fixed;
  min-width: 10vw;
  bottom: 0;
  margin-right: 10vw;
}

.message-box {
  min-height: 12vh;
  border: 1px solid black;
}

.chat-title {
  border: 1px solid black;
} */

.require-auth-container {
  display: flex;
  justify-content: space-between;
}



/* .nav-visible {
  display: flex;
}

.nav-toggle {
  display: flex;
  width: 30%;
  height: 30vh;
  top: 0;
  position: sticky;
}

.nav-toggle-small {
  height: 10vh;
  font-weight: bold;
  background-color: rgb(252, 175, 74);
} */
.post-area{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 8px black;
  font-size: 0.9rem;
  flex-shrink: 1;
  max-height: 200px;
}

.post-container {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #dddddd;
}

.group-page{
  box-shadow: 5px 5px 5px rgb(184, 184, 184);
  background-color: #ffffff;
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
  width: 50vw;
  padding: 10px;
  outline: none;
  border-radius: 20px;
  max-height: 600px;
  overflow: auto;
  box-shadow: 0 0 8px black;
  min-width: 300px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.group-extra {
  position: sticky;
  margin-left: 2vw;
  top: 15vh;
  float: left;
  width: 20vw;
  max-height: 78vh;
  overflow: auto;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 8px black;
  margin-top: 5vh;
}

.group-image {
  width: "20vw";
  height: "20vw";
  object-fit: "cover";
  object-position: "0% 100%";
}

/* .modal{
    top: '35%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    background-color: green;
    margin-right: '-50%';
    width: '60%';
    transform: 'translate(-40%, -10%)'
} */

.iconoir-add-circle {
  font-size: 20px;
}

.search-it {
  display: block;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  width: 300px;
  height: 40px;
  background-color: rgb(185, 185, 185);
  box-shadow: 5px 5px 5px rgb(218, 218, 218);
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(204, 204, 204);
  color: white;
}
.search-it::placeholder {
  color: rgb(78, 78, 78);
  font-size: large;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.profile-content{
  background-color: #ffffff;
  
}
.profile-area{
  margin-top: 2vh;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 0 8px black;
}


.profile-side {
 
  position: sticky;
  margin-left: 2vw;
  top: 15vh;
  float: left;
  width: 20vw;
  max-height: 78vh;
  overflow: auto;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 8px black;
  margin-top: 5vh;
}

.hov{
 margin-top: 20px;
}

.hov:hover{
  background-color: #ececec;
  cursor: pointer;
 
  border-radius: 20px;

}

.follower-pic{
  height: 10vh;
  width: 10vh;
  
}

.follower{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}


.bigger{
  padding: 10px;
  font-size: large;
  margin: 10px;
  border-radius: 20px;
  
}
.bigger:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.top-part{
  width: 640px;
height: 424px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid rgba(199, 199, 199, 0.25);
margin: 5px;
}

.profile-row {
  display: inline-flex;
  padding: 0px 210px 0px 6px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}

.profile-row-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;

}

.profile-row-top2 {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-style{
  overflow: auto;
  flex-wrap: wrap;
  display: flex;
  
}

.popup-group{
  display: flex;
  flex-direction: column;
}

.popup-content{
  overflow: auto;
  height: 80vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 20%;
  padding-top: 5%;
}

<<<<<<< Updated upstream


.profile-column-top {
  
  
}
=======
>>>>>>> Stashed changes
.profile-title-top{
  display: flex;
width: 97px;
height: 26px;
flex-direction: column;
justify-content: center;

}
.profile-textarea{
  display: flex;
width: 609px;
height: 80px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
resize: none;
}

.group-button{
  display: flex;
  width: 5vw;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #5f5f5f;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.group-textarea{
  width: 18vw;
  height: 10vh;
  resize: none;
  padding: 10px;
}

.profile-title {
  display: flex;
width: 95px;
height: 24px;
flex-direction: column;
justify-content: center;
color: #C7C7C7;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.profile-title-top {
  font-weight: bold;
  width: 150px;
  margin: 10px;
}

.profile-title{
  font-size: 16px;
}
.profile-column {
  color: #000;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 5px;
margin-bottom: 5px;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 20%;
}
.umber{
  display: inline-flex;
padding: 5px 118px 2px 8px;
align-items: center;
}
.profile-actions {
  width: 124px;
  height: 32px;
  flex-shrink: 0;
  margin: 10px;
}

.profile-actions button {
  display: flex;
  width: 110px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #A9A9A9;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile-actions button:hover {
  background-color: #3b5998;
}

.profile-actions input[type="checkbox"] {
  margin-left: 5px;
}

.profile-actions button:disabled {
  background-color: #9c9c9c;
  cursor: not-allowed;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;		 
  display: flex;		  
  flex-direction: column;
  list-style-type: none;		  
  align-items: center;		
}		

nav li {
  margin: 0.5em;		  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}		

.content-area {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 8px black;
  font-size: 0.9rem;
  flex-shrink: 1;
  order: 1;
}

.content-area * {
  margin: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3px;
  justify-content: flex-end; /* Aligns content to the right */
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
  
}
.row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3px;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  text-align: center; /* Centers the text inside the div */
  font-family: Arial, sans-serif; /* Example font family, replace with your desired font */
  font-size: 16px; /* Example font size, adjust as needed */
  padding: 10px; /* Example padding, adjust as needed */
  border-radius: 5px; /* Example border radius, adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.row3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3px;
  justify-content: flex-start; /* Aligns content to the left */
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
 
  margin-left: 20px; 
}		

hr {
  width:100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 100%;
  /* flex: 2.5; */
  justify-content: flex-end;
  flex-shrink: 1;
  overflow: clip;
}

.column-title {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-shrink: 2;
  font-weight: bold;
}

.row > h1 {
  text-align: center;
}


.text-link {
  font-weight: bold;
  color: darkblue;		
  text-decoration: none;
  color: #333;
  padding: 5px;
}		

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px; /* Adjust the height as needed */
}

.text-link:visited {
  color: darkblue;
}
.smooth-input {
  display: block;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      outline: none;
      width: 500px;
      height: 50px;
}
.login-input {
  display: block;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      outline: none;
      width: 460px;
      height: 50px;
}
.input-label {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-right: 450px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input-label1 {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-right: 420px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input-label2 {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-right: 365px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input-label3 {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-right: 355px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.log-in {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-left: 5px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
}

.big-button {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 10px;
  width: 500px;
  color: #FFFFFF;
  border: none;
  background-color: #c2c2c2;
}

.log-button {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 20px;
  width: 360px;
  color: #FFFFFF;
  border: none;
  background-color: #c2c2c2;
}
.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.text-link:hover {
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

@media only screen and (min-width: 600px) {
  nav {
    top: 0;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    z-index: 9998;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 100%;
  }

  /* .nav-toggle-small {
    display: none;
  }

  .nav-toggle {
    display: none;
  }

  .nav-visible {
    display: none;
  } */

  .column {
    display: flex;
    flex-basis: 100%;
    align-items: flex-start;

  }

  .row > h1 {
    text-align: left;
  }

  .content-area {
    font-size: 1rem;
  }

}

.spinner {
  z-index: 999;
  position: fixed;
  bottom: 10px;
  width: 120px;
  height: 120px;
  border: 6px solid black;
  border-color: black transparent black transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite; 
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}