* {
  box-sizing: border-box; 
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color:rgb(255, 255, 255)
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  flex-direction: column;
  background-color: rgb(252, 175, 74);
  border-radius: 0 0 10px 10px;
}

.chat-sidebar {
  position: fixed;
  align-self: flex-start;
  overflow-y: auto; 
  min-width: 300px;
  top: calc(100%+10px);
  right: 0;
  height: 90%;
  background-color: #f2f2f2;
}

.chatbox {
  position: fixed;
  bottom:0;
  transform: translate(-100%, 0);
  width: 200px; 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999; 
}

.notification-list {
  position: fixed;
  top: 80px;
  left: 1vw;
  width: 400px; 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999; 
}

.chat-title {
  border: 1px solid black;
  padding: 10px;
  font-weight: bold;
}

.message-history {
  border: 1px solid black;
  height: 200px; 
  overflow-y: auto;
}

.message-box {
  border: 1px solid black;
  height: 50px; 
}

/* .chatbox {
  position: fixed;
  min-width: 10vw;
  bottom: 0;
  margin-right: 10vw;
}

.message-box {
  min-height: 12vh;
  border: 1px solid black;
}

.chat-title {
  border: 1px solid black;
} */

.require-auth-container {
  display: flex;
  margin-right: 300px;
  justify-content: space-between;
}

/* .nav-visible {
  display: flex;
}

.nav-toggle {
  display: flex;
  width: 30%;
  height: 30vh;
  top: 0;
  position: sticky;
}

.nav-toggle-small {
  height: 10vh;
  font-weight: bold;
  background-color: rgb(252, 175, 74);
} */

nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}

nav li {
  margin: 0.5em;
}

.content-area {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  display: flex;
  max-width: 80%;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 8px black;
  font-size: 0.9rem;
}

.content-area * {
  margin: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3px;
}

hr {
  width:100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 100%;
  /* flex: 2.5; */
  justify-content: flex-end;
  flex-shrink: 1;
  overflow: clip;
}

.column-title {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-shrink: 2;
  font-weight: bold;
}

.row > h1 {
  text-align: center;
}


.text-link {
  font-weight: bold;
  color: darkblue;
  text-decoration: none;
}

.text-link:visited {
  color: darkblue;
}
.smooth-input {
  display: block;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      outline: none;
      width: 500px;
      height: 50px;
}
.login-input {
  display: block;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      outline: none;
      width: 460px;
      height: 50px;
}
.input-label {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-right: 450px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input-label1 {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-right: 420px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input-label2 {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-right: 365px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input-label3 {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-right: 355px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.log-in {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-left: 5px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
}

.big-button {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 10px;
  width: 500px;
  color: #FFFFFF;
  border: none;
  background-color: #c2c2c2;
}

.log-button {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 20px;
  width: 360px;
  color: #FFFFFF;
  border: none;
  background-color: #c2c2c2;
}
.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.text-link:hover {
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

@media only screen and (min-width: 600px) {
  nav {
    top: 0;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 100%;
  }

  /* .nav-toggle-small {
    display: none;
  }

  .nav-toggle {
    display: none;
  }

  .nav-visible {
    display: none;
  } */

  .column {
    display: flex;
    flex-basis: 100%;
    align-items: flex-start;

  }

  .row > h1 {
    text-align: left;
  }

  .content-area {
    font-size: 1rem;
  }

}