* {
  box-sizing: border-box; 
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color:rgb(255, 255, 255)
}

nav {
  background-color: #f1f1f1;
  position: sticky;		  padding: 10px;
  top: 0;		  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.content-as{
  margin-top: auto;
}

.comment-section {
  margin-top: 20px;
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-button{
  display: flex;
  flex-direction: row;
  width: 98%;
  margin-top: 3px;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  text-align: center; /* Centers the text inside the div */
  font-family: Arial, sans-serif; /* Example font family, replace with your desired font */
  font-size: 16px; /* Example font size, adjust as needed */
  padding: 10px; /* Example padding, adjust as needed */
  border-radius: 10px; /* Example border radius, adjust as needed */
  box-shadow: 0 2px 4px rgba(194, 194, 194, 0.1); 
}

.area-text{
  width: 50vw;
  height: 5vh;
  background-color: #dddddd;
  border: none;
  padding: 10px;
  color: black;
  font-size: 14px;
  border-radius: 10px;
}

.area-text::placeholder{
  color: black;
  opacity: 1;
}

/* .nav-visible {
  display: flex;
}

.nav-toggle {
  display: flex;
  width: 30%;
  height: 30vh;
  top: 0;
  position: sticky;
}

.nav-toggle-small {
  height: 10vh;
  font-weight: bold;
  background-color: rgb(252, 175, 74);
} */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;		  padding: 0;
  display: flex;		  display: flex;
  flex-direction: column;		  justify-content: space-between;
  list-style-type: none;		  
  align-items: center;		
}		

nav li {
  margin: 0.5em;		  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}		

.content-area {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  display: flex;
  max-width: 80%;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 8px black;
  font-size: 0.9rem;
}

.content-area * {
  margin: 8px;
}

.row {
  display: flex;		  display: flex;
  flex-direction: row;		  flex-direction: row;
  width: 100%;		  width: 100%;
  margin-top: 3px;		  margin-top: 3px;
  justify-content: flex-end; /* Aligns content to the right */
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
  
}
.row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3px;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  text-align: center; /* Centers the text inside the div */
  font-family: Arial, sans-serif; /* Example font family, replace with your desired font */
  font-size: 16px; /* Example font size, adjust as needed */
  padding: 10px; /* Example padding, adjust as needed */
  border-radius: 5px; /* Example border radius, adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.row3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3px;
  justify-content: flex-start; /* Aligns content to the left */
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
 
  margin-left: 20px; 
}		

hr {
  width:100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 100%;
  /* flex: 2.5; */
  justify-content: flex-end;
  flex-shrink: 1;
  overflow: clip;
}

.column-title {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-shrink: 2;
  font-weight: bold;
}

.row > h1 {
  text-align: center;
}


.text-link {
  font-weight: bold;		  font-weight: bold;
  color: darkblue;		
  text-decoration: none;		  text-decoration: none;
  color: #333;
  padding: 5px;
}		

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px; /* Adjust the height as needed */
}

.text-link:visited {
  color: darkblue;
}
.smooth-input {
  display: block;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      outline: none;
      width: 500px;
      height: 50px;
}
.login-input {
  display: block;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      outline: none;
      width: 460px;
      height: 50px;
}
.input-label {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-right: 450px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input-label1 {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-right: 420px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input-label2 {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-right: 365px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input-label3 {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-right: 355px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.log-in {
  font-size: 15px;
  color: rgb(66, 59, 59);
  margin-left: 5px; /* Adjust the margin as desired */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
}

.big-button {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 10px;
  width: 500px;
  color: #FFFFFF;
  border: none;
  background-color: #c2c2c2;
}

.log-button {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 20px;
  width: 360px;
  color: #FFFFFF;
  border: none;
  background-color: #c2c2c2;
}
.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.text-link:hover {
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

@media only screen and (min-width: 600px) {
  nav {
    top: 0;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 100%;
  }

  /* .nav-toggle-small {
    display: none;
  }

  .nav-toggle {
    display: none;
  }

  .nav-visible {
    display: none;
  } */

  .column {
    display: flex;
    flex-basis: 100%;
    align-items: flex-start;

  }

  .row > h1 {
    text-align: left;
  }

  .content-area {
    font-size: 1rem;
  }

}

.spinner {
  z-index: 999;
  position: fixed;
  bottom: 10px;
  width: 120px;
  height: 120px;
  border: 6px solid black;
  border-color: black transparent black transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite; 
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}